
h1 {
    font-size: 48px;
    font-weight: 500px;
    color: #f2f2f2;
}
h2 {
    font-size: 36px;
    font-weight: 400px;
    color: #f2f2f2;
}
h3 {
    font-size: 24px;
    font-weight: 400px;
    color: #f2f2f2;
}
h4 {
    font-size: 18px;
    font-weight: 400px;
    color: #f2f2f2;
}
p {
    font-size: 18px;
    font-weight: 300px;
    color: #f2f2f2;
    text-align: justify;
    text-justify: inter-word;
}
#topnav {
   background-color: black;
   overflow: hidden;
   margin-top: 0px;
}
#topnav a {
    float: left;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
}
#topnav a:hover {
    color: #FDF401;
}
#topnav img {
    height: 35px;
    position: relative;
    float: left;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    padding-left: 10px;
}
.header img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto; 
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
}
.aboutme-container {
    margin-left: 30px;
    margin-right:30px;
    display: flex;
    background-color: #181818;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
    max-width: min-content;
}
.aboutme-text {
    position: relative;
    min-width: 500px;
    padding-left: 30px;
    padding-right:30px;
}
.aboutme-text h1 {
    margin: 0px;
}
.aboutme-container, .header img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.mobile-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
}
.skills-container {
    margin-left: 30px;
    padding: 10px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: max-content;
    background-color: #181818;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
}
.tools-container {
    margin-right: auto;
    margin-left: 30px;
    padding: 10px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: max-content;
    background-color: #181818;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
}
#selected-work-header {
    background-color: black;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.portfolio-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto
}
.selected-work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 30px;
    height: auto;
    padding: 10px;
    padding-top: 0px;
    max-width: 500px;
    min-width: 500px;
    max-height: min-content;
    transition: all .2s ease-in-out; 
    background-color: #181818;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
}
.selected-work-container h3 {
    font-size: 30px;
}
.selected-work-container:hover {
    outline-color: #FDF401;
    transform: scale(1.05);
    box-shadow: 10px 10px 5px #111111;
}
.selected-work-container img {
    max-height: auto;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0px;
}
.selected-work-container h3 {
    text-align: center;
}
.selected-work-container p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    text-justify: inter-word;
}
#contact-header {
    background-color: black;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #181818;
    outline-style: solid;
    outline-width: 3px;
    outline-color: #939393;
    min-width: 500px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.contact-container a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-decoration: none;
}
.contact-container h3 {
    margin-top: 0px;
    font-size: 30px;
}
.contact-container h3:hover {
    color: #FDF401;
    text-shadow: 10px 10px 5px #111111;  
}
.contact-vectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linked-vector {
    margin-right: 60px;
    transition: all .2s ease-in-out; 
}   
.linked-vector:hover { 
    transform: scale(1.1);
    box-shadow: 10px 10px 5px #111111; 
}
.insta-vector { 
    transition: all .2s ease-in-out; 
    }
    
.insta-vector:hover { 
    transform: scale(1.1);
    box-shadow: 10px 10px 5px #111111;  
}
.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
}
#copyright-text {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    padding-top: 0px;
}   
#copyright-text img {
    height: 50px;
    transition: all .2s ease-in-out;
}
#copyright-text img:hover {
    transform: scale(1.1);
}
.footerLeft {
    margin-top: 0;
    padding-bottom: 10px;
    justify-content: center;
    padding-left: 30px;
}
.footer-text a {
    text-decoration: none;
}
.footer-text:hover p{
    color: #FDF401;
}
.footer-vectors {
    display: flex;
    flex-direction: row;
}
.footer-linked {
    transition: all .2s ease-in-out;
}
.footer-linked:hover {
    transform: scale(1.1);
}
.footer-insta {
    padding-left: 30px;
    transition: all .2s ease-in-out; 
}
.footer-insta:hover {
    transform: scale(1.1);
}
#scroll {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
#scroll a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    font-size: large;
}
#scroll a:hover {
    color: #FDF401;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
.body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    background: #262626;
}



@keyframes blinkingText{
    0%{     color: #FDF401;    }
    49%{    color: #FDF401; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #FDF401;    }
}


@media only screen and (max-width: 1200px) {
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .header img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .aboutme-container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: #181818;
        outline-style: solid;
        outline-width: 3px;
        outline-color: #939393;
        max-width: min-content;
    }
    .mobile-group {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 0px;
        padding: 10px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 50%;
    }
    .tools-container {
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding: 10px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        min-width: 50%;
    }
    .portfolio-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto
    }
    .selected-work-container {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }
    .contact-header {
        margin-top: 0px;
    }
}
